<!DOCTYPE html>
<html lang="en">
  <head>
    {% include meta.html %}
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="icon" 
      type="image/png" 
      href="/images/dice-twenty-faces-twenty.png"> 
    <style>
      .site-avatar {
        float: left;
        width: 70px;
        height: 70px;
        margin-right: 15px;

        @include mobile {
          float: none;
          display: block;
          margin: 0 auto;
        }

        img {
          border-radius: 5px;
        }
      }
    </style>
  </head>
  <body>
    <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
    <div class="site-info">
      <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
      <p class="site-description">{{ site.description }}</p>
    </div>
    <nav>
      <a href="{{ site.baseurl }}/">Blog</a>
      <a href="{{ site.baseurl }}/about">About</a>
    </nav>
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
    <footer>
      {% include svg-icons.html %}
    </footer>
    {% include analytics.html %}
  </body>
</html>
